# Auto detect text files and perform LF normalization
*.e linguist-language=e
*.bak linguist-language=e
*.cmd linguist-language=Batch
*.bat linguist-language=Batch
*.chm linguist-language=HTML
*.htm linguist-language=HTML
* text=auto